@page "/meals"
@inject IMealsService MealsService
<h1>Meals Page</h1>

@if (_meals is null)
{
<span>LLoading Meals...</span>
}
else
{
    <table class="table">
        
        <thead>
        <tr>
            <th>Name_</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var meal in _meals)
{
    <tr>
        <td>@meal.Name</td>
        <td>@meal.Description</td>

    </tr>
}
        </tbody>
    </table>
}

@code {
    private IEnumerable<Meal>? _meals= null;
   protected override async Task OnInitializedAsync()
    {
     
        _meals = await MealsService.LoadMealsAsync();

    }

}
