@page "/"


<h1>Hello There👋</h1>
<AuthorizeView>
    <Authorized> 
        Welcome to Thabo's Food App'.
    </Authorized>
    <NotAuthorized>
        Please Log in
    </NotAuthorized>
</AuthorizeView>

